body {
    margin: 0;
    padding: 0;
    /*background-image: url('../Rooms/room_morning.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*background-size: 70%;*/
    /*background-color: black;*/
    justify-content: center;
    align-items: center;
}

.room-container {
    position: absolute;
    text-align: center;
}

.clickable-poster {
    position: relative left;
    top: 0;
    left: 0;
}

.NP {
    position: relative;
    width: 17%;
    height: 17%;
    transform: translate(95%, -220%);
}

.russian {
    position: relative;
    width: 17%;
    height: 17%;
    transform: translate(97%, -856%);
}

.baby {
    position: relative;
    width: 17%;
    height: 17%;
    transform: translate(97%, -1270%);
}

.mirror {
    position: relative;
    width: 25%;
    height: 25%;
    transform: translate(40%, -257%);
}

.TT {
    position: relative;
    width: 25%;
    height: 25%;
    transform: translate(259%, -620%);
}

.HM {
    position: relative;
    width: 13%;
    height: 13%;
    transform: translate(520%, -590%);
}

.sonic {
    position: relative;
    width: 9%;
    height: 9%;
    transform: translate(860%, -950%);
}

.spongebob {
    position: relative;
    width: 9%;
    height: 9%;
    transform: translate(860%, -1320%);
}

.pokemon {
    position: relative;
    width: 9%;
    height: 9%;
    transform: translate(748%, -1980%);
}

.russian:hover {
    /* increase the scale a little */
    /*play a sound */
}