body {
    margin: 0;
    padding: 0;
    /*background-image: url('../Rooms/room_morning.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*background-size: 70%;*/
    /*background-color: black;*/
    justify-content: center;
    align-items: center;
}

.room-container {
    position: absolute;
    text-align: center;
}

.clickable-poster {
    position: relative left;
    top: 0;
    left: 0;
}

.russian {
    position: relative;
    width: 17%;
    height: 17%;
    transform: translate(76%, -610%);
}

.HM {
    position: relative;
    width: 13%;
    height: 13%;
    transform: translate(155%, -290%);
}

.baby {
    position: relative;
    width: 16%;
    height: 16%;
    transform: translate(440%, -1150%);
}
.sonic {
    position: relative;
    width: 9%;
    height: 9%;
    transform: translate(860%, -950%);
}

.pokemon {
    position: relative;
    width: 9%;
    height: 9%;
    transform: translate(748%, -1980%);
}
