body {
    margin: 0;
    padding: 0;
    /*background-image: url('../Rooms/room_morning.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*background-size: 70%;*/
    /*background-color: black;*/
    justify-content: center;
    align-items: center;
}

.room-container {
    position: absolute;
    text-align: center;
}

.clickable-poster {
    position: relative left;
    top: 0;
    left: 0;
}

.anime {
    position: relative;
    width: 15%;
    height: 15%;
    transform: translate(180%, -91%);
}

.NP {
    position: relative;
    width: 17%;
    height: 17%;
    transform: translate(113%, -260%);
}

.russian {
    position: relative;
    width: 17%;
    height: 17%;
    transform: translate(75%, -908%);
}

.baby {
    position: relative;
    width: 16%;
    height: 16%;
    transform: translate(440%, -1610%);
}

.TT {
    position: relative;
    width: 25%;
    height: 25%;
    transform: translate(255%, -500%);
}

.mirror {
    position: relative;
    width: 23%;
    height: 23%;
    transform: translate(156%, -404%);
}

.sonic {
    position: relative;
    width: 10%;
    height: 10%;
    transform: translate(768%, -715%);
}

.spongebob {
    position: relative;
    width: 9%;
    height: 9%;
    transform: translate(772%, -1101%);
}

.flower {
    position: relative;
    width: 7%;
    height: 7%;
    transform: translate(203%, -844%);
}

.pokemon {
    position: relative;
    width: 9%;
    height: 9%;
    transform: translate(290%, -1201%);
}

.HM {
    position: relative;
    width: 14%;
    height: 14%;
    transform: translate(100%, -750%);
}